@charset "utf-8";

/* 상세 팝업 */

.modal_about{box-shadow : rgba(25,15,18,0.8) 0 0 0 9999px;width:100vw; height:100vh; margin:auto; position:fixed; top:0; left:100vw; z-index:9999999;background-color:#fff;}

/* 
타이핑 애니메이션 */
.modal_about span{text-transform:capitalize; white-space:nowrap;color:transparent; margin:0;}
.modal_about span::before{content:"About";position:absolute;top:0; left:0;width:100%; height:100%;color:pink;overflow:hidden;animation: typing 0.8s steps(5);border-right:3px solid pink;}
 /* border-right:3px solid #fff;*/
 @keyframes typing {0%{width:0%;}100% {width:100%;}} 